.profile-card-section {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 50px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Baloo Paaji 2", cursive;
}
