<div class="card text-center p-3 d-inline-block">
    <img src="{{item.imgUrl}}" alt="Person" class="card__image mx-auto">
    <p class="card__name">{{item.firstName}} {{item.lastName}}</p>
    <div class="card__title mt-4">
        {{item.title}}
    </div>
    <ul class="social-icons">
        <li *ngFor="let account of item.socialAccounts">
            <a href="{{account.link}}" target="_blank">
                <i class="{{account.iconClass}}"></i>
            </a>
        </li>
    </ul>
</div>