.homepage {
    background: rgb(13, 4, 63);
    background: linear-gradient(180deg, rgba(13, 4, 63, 1) 0%, rgba(180, 67, 173, 1) 100%);
    min-height: 100vh;
    &__title {
        font-family: "Baloo Paaji 2", cursive;
    }
}